source https://www.nuget.org/api/v2
content:none
storage:none

nuget FSharp.Core redirects:force
nuget Fable.Core
nuget Fable.Import.Mocha
clitool dotnet-fable

group Build
    source https://www.nuget.org/api/v2
    nuget FAKE
